In [1]:
import pandas as pd

In [37]:
df = pd.read_excel("PositionsUnit-LongLat.xlsx", index_col = [0])

In [38]:
#Convert Longs and Lats to floats. 

def cnvrtCoord(val: str) -> float:
    sgn = +1
    if val[0] == 'S' or val[0] == 'W':
        sgn = -1
    return float(val[1:]) * sgn  

df['long'] = [cnvrtCoord(x) for x in df['long'].tolist()]
df['lat'] = [cnvrtCoord(x) for x in df['lat'].tolist()]

In [39]:
df['DateTimeOfPosition'] = pd.to_datetime(df['DateTimeOfPosition'])

In [40]:
df

,UnitPositionId,DateTimeOfPosition,IgnitionOn,long,lat
0,637458912,2023-05-01 06:29:18.987000+02:00,0,52.154859,5.376457
1,637458804,2023-05-01 06:28:58.437000+02:00,1,52.154865,5.376504
2,637458106,2023-05-01 06:26:58.420000+02:00,1,52.158796,5.379862
3,637457374,2023-05-01 06:24:58.953000+02:00,1,52.152371,5.388205
4,637456653,2023-05-01 06:22:58.207000+02:00,1,52.157829,5.404613
...,...,...,...,...,...
995,630553518,2023-03-28 10:22:19.030000+02:00,1,52.178164,5.468254
996,630553514,2023-03-28 10:22:18.600000+02:00,1,52.178164,5.468254
997,630553513,2023-03-28 10:22:18.600000+02:00,1,52.176882,5.463401
998,630553512,2023-03-28 10:22:18.600000+02:00,1,52.178559,5.459197
999,630477643,2023-03-28 06:32:06.247000+02:00,0,52.178471,5.459454

In [41]:
import pandas as pd

# Assuming your DataFrame is called 'df' with columns 'Timestamp', 'Longitude', 'Latitude', and 'Ignition On/Off'

# Sort the DataFrame by Timestamp in ascending order
df.sort_values('DateTimeOfPosition', inplace=True)

# Initialize variables to track trip start and end points
trip_start = None
trip_end = None

# Initialize a list to store the trips
trips = []

# Iterate through the DataFrame rows
for index, row in df.iterrows():
    # Check if ignition is turned on
    if row['IgnitionOn']:
        # If trip has not started yet, mark current row as trip start
        if trip_start is None:
            trip_start = row
    else:
        # If trip has started and ignition is turned off, mark current row as trip end
        if trip_start is not None:
            trip_end = row
            # Append the trip start and end points to the list of trips
            trips.append((trip_start['DateTimeOfPosition'], trip_start['lat'], trip_start['long'], trip_end['DateTimeOfPosition'], trip_end['lat'], trip_end['long']))
            # Reset trip start and end points for the next trip
            trip_start = None
            trip_end = None

# Create a new DataFrame to store the trips
trips_df = pd.DataFrame(trips, columns=['Start Timestamp', 'Start Longitude', 'Start Latitude', 'End Timestamp', 'End Longitude', 'End Latitude'])

# Print the trips DataFrame
print(trips_df)

                     Start Timestamp  Start Longitude  Start Latitude  \
0   2023-03-28 10:22:18.600000+02:00         5.468254       52.178164
1   2023-03-28 10:44:30.883000+02:00         5.468269       52.178102
2   2023-03-28 11:12:33.617000+02:00         5.455112       52.176642
3   2023-03-28 15:06:24.687000+02:00         5.459550       52.178429
4   2023-03-29 08:50:23.957000+02:00         5.459455       52.178341
..                               ...              ...             ...
107 2023-04-28 12:11:40.693000+02:00         5.449261       52.174729
108 2023-04-28 12:57:02.930000+02:00         4.869734       52.295627
109 2023-04-28 15:20:04.613000+02:00         5.459449       52.178427
110 2023-05-01 06:11:32.010000+02:00         5.460145       52.178159
111 2023-05-01 06:14:58.670000+02:00         5.456344       52.176319

                       End Timestamp  End Longitude  End Latitude
0   2023-03-28 10:22:33.527000+02:00       5.468272     52.178172
1   2023-03-28 10:48:56.750000+02:00       5.455119     52.176635
2   2023-03-28 11:14:24.630000+02:00       5.459509     52.178495
3   2023-03-28 15:15:09.780000+02:00       5.459521     52.178465
4   2023-03-29 09:06:01.667000+02:00       5.485137     52.224870
..                               ...            ...           ...
107 2023-04-28 12:47:25.460000+02:00       4.869687     52.295659
108 2023-04-28 13:36:52.403000+02:00       5.459535     52.178487
109 2023-04-28 15:45:40.523000+02:00       5.459486     52.178500
110 2023-05-01 06:13:11.100000+02:00       5.456132     52.176572
111 2023-05-01 06:29:18.987000+02:00       5.376457     52.154859

[112 rows x 6 columns]

In [42]:
trips_df[["Start Timestamp", "End Timestamp"]]

                     Start Timestamp                    End Timestamp
0   2023-03-28 10:22:18.600000+02:00 2023-03-28 10:22:33.527000+02:00
1   2023-03-28 10:44:30.883000+02:00 2023-03-28 10:48:56.750000+02:00
2   2023-03-28 11:12:33.617000+02:00 2023-03-28 11:14:24.630000+02:00
3   2023-03-28 15:06:24.687000+02:00 2023-03-28 15:15:09.780000+02:00
4   2023-03-29 08:50:23.957000+02:00 2023-03-29 09:06:01.667000+02:00
..                               ...                              ...
107 2023-04-28 12:11:40.693000+02:00 2023-04-28 12:47:25.460000+02:00
108 2023-04-28 12:57:02.930000+02:00 2023-04-28 13:36:52.403000+02:00
109 2023-04-28 15:20:04.613000+02:00 2023-04-28 15:45:40.523000+02:00
110 2023-05-01 06:11:32.010000+02:00 2023-05-01 06:13:11.100000+02:00
111 2023-05-01 06:14:58.670000+02:00 2023-05-01 06:29:18.987000+02:00

[112 rows x 2 columns]

In [43]:
df[:-950] # row 996 -> 994

,UnitPositionId,DateTimeOfPosition,IgnitionOn,long,lat
999,630477643,2023-03-28 06:32:06.247000+02:00,0,52.178471,5.459454
996,630553514,2023-03-28 10:22:18.600000+02:00,1,52.178164,5.468254
998,630553512,2023-03-28 10:22:18.600000+02:00,1,52.178559,5.459197
997,630553513,2023-03-28 10:22:18.600000+02:00,1,52.176882,5.463401
995,630553518,2023-03-28 10:22:19.030000+02:00,1,52.178164,5.468254
994,630553649,2023-03-28 10:22:33.527000+02:00,0,52.178172,5.468272
993,630559399,2023-03-28 10:44:30.883000+02:00,1,52.178102,5.468269
992,630559771,2023-03-28 10:46:30.470000+02:00,1,52.175417,5.466442
991,630560148,2023-03-28 10:48:30.197000+02:00,1,52.176635,5.455122
990,630560224,2023-03-28 10:48:56.750000+02:00,0,52.176635,5.455119
989,630565264,2023-03-28 11:12:33.617000+02:00,1,52.176642,5.455112
988,630565801,2023-03-28 11:14:24.630000+02:00,0,52.178495,5.459509
987,630639252,2023-03-28 15:06:24.687000+02:00,1,52.178429,5.459550
986,630639555,2023-03-28 15:08:25.110000+02:00,1,52.175612,5.460762
985,630639872,2023-03-28 15:10:25.593000+02:00,1,52.175656,5.460734
984,630640205,2023-03-28 15:12:25.553000+02:00,1,52.175660,5.460729
983,630640525,2023-03-28 15:14:25.437000+02:00,1,52.178149,5.459459
982,630640660,2023-03-28 15:15:09.780000+02:00,0,52.178465,5.459521
981,630667382,2023-03-28 19:46:49.237000+02:00,0,52.178352,5.459596
980,630755635,2023-03-29 07:46:51.293000+02:00,0,52.178612,5.459570
979,630776865,2023-03-29 08:50:23.957000+02:00,1,52.178341,5.459455
978,630777570,2023-03-29 08:52:24.377000+02:00,1,52.179982,5.454872
977,630778283,2023-03-29 08:54:23.940000+02:00,1,52.187074,5.449514
976,630778991,2023-03-29 08:56:24.553000+02:00,1,52.197212,5.453079
975,630779715,2023-03-29 08:58:24.337000+02:00,1,52.207939,5.467498
974,630780455,2023-03-29 09:00:24.053000+02:00,1,52.217752,5.478537
973,630781171,2023-03-29 09:02:24.477000+02:00,1,52.222697,5.482524
972,630781879,2023-03-29 09:04:23.663000+02:00,1,52.225156,5.485039
971,630782507,2023-03-29 09:06:01.667000+02:00,0,52.224870,5.485137
970,630805534,2023-03-29 10:06:00.637000+02:00,1,52.224869,5.485091
969,630806396,2023-03-29 10:07:59.307000+02:00,1,52.225466,5.484535
968,630807166,2023-03-29 10:09:59.133000+02:00,1,52.221230,5.483867
967,630807889,2023-03-29 10:11:58.790000+02:00,1,52.213605,5.473339
966,630808645,2023-03-29 10:13:59.083000+02:00,1,52.202456,5.461290
965,630809475,2023-03-29 10:15:58.767000+02:00,1,52.193284,5.447825
964,630810309,2023-03-29 10:18:10.263000+02:00,1,52.181381,5.452885
963,630811013,2023-03-29 10:19:59.077000+02:00,1,52.176424,5.455722
962,630811351,2023-03-29 10:21:00.647000+02:00,0,52.176487,5.456384
961,630811911,2023-03-29 10:22:36.740000+02:00,1,52.176477,5.456380
960,630812564,2023-03-29 10:24:27.643000+02:00,0,52.178502,5.459472
959,630865927,2023-03-29 13:07:14.520000+02:00,0,52.178594,5.459523
958,630895964,2023-03-29 14:53:52.047000+02:00,1,52.178589,5.459354
957,630896416,2023-03-29 14:55:57.223000+02:00,0,52.176504,5.456319
956,630896417,2023-03-29 14:55:57.223000+02:00,0,52.176504,5.456319
955,630900493,2023-03-29 15:18:23.500000+02:00,1,52.176455,5.456319
954,630900726,2023-03-29 15:19:59.210000+02:00,0,52.178489,5.459529
953,630905529,2023-03-29 15:52:42.437000+02:00,0,52.178459,5.459490
952,630953760,2023-03-30 03:52:45.730000+02:00,0,52.178414,5.459761
951,631132434,2023-03-30 14:13:52.800000+02:00,0,52.178837,5.459460
950,631147104,2023-03-30 15:27:15.267000+02:00,0,52.178647,5.459322

In [52]:
import pandas as pd
from geopy.distance import distance

# Assuming your DataFrame is called 'df' with columns 'Timestamp', 'Longitude', and 'Latitude'

# Sort the DataFrame by Timestamp in ascending order
df.sort_values('DateTimeOfPosition', inplace=True)

# Initialize variables to track trip start and end points
trip_start = None
trip_end = None

# Initialize a list to store the trips
trips = []

# Iterate through the DataFrame rows
for index, row in df.iterrows():
    # Check if trip has not started yet
    if trip_start is None:
        trip_start = row
    else:
        # Calculate distance between current point and the previous point
        dist = distance((trip_start['long'], trip_start['lat']), (row['long'], row['lat'])).meters
        # Calculate duration between current point and the previous point
        duration = (row['DateTimeOfPosition'] - trip_start['DateTimeOfPosition']).total_seconds()

        # If the distance is above a certain threshold, consider it as the car moving
        if dist > 50 and duration > 600:  # Adjust the distance threshold as per your requirements
            # Update trip end point
            trip_end = row
        else:
            # If the distance is below the threshold, consider it as the car stopped
            # Append the trip start and end points to the list of trips
            if trip_end is not None:
                trips.append((trip_start['DateTimeOfPosition'], trip_start['lat'], trip_start['long'], trip_end['DateTimeOfPosition'], trip_end['lat'], trip_end['long']))
            # Reset trip start and end points for the next trip
            trip_start = row
            trip_end = None

# If the last trip did not end, consider the last row as the trip end
if trip_start is not None and trip_end is None:
    trip_end = df.iloc[-1]
    trips.append((trip_start['DateTimeOfPosition'], trip_start['lat'], trip_start['long'], trip_end['DateTimeOfPosition'], trip_end['lat'], trip_end['long']))

# Create a new DataFrame to store the trips
trips_df = pd.DataFrame(trips, columns=['Start Timestamp', 'Start Longitude', 'Start Latitude', 'End Timestamp', 'End Longitude', 'End Latitude'])

# Print the trips DataFrame
print(trips_df)

                    Start Timestamp  Start Longitude  Start Latitude  \
0  2023-03-28 06:32:06.247000+02:00         5.459454       52.178471
1  2023-03-30 03:52:45.730000+02:00         5.459761       52.178414
2  2023-03-30 15:27:15.267000+02:00         5.459322       52.178647
3  2023-04-02 04:33:49.670000+02:00         5.458828       52.178472
4  2023-04-04 04:53:38.330000+02:00         5.459222       52.178485
5  2023-04-05 03:44:00.107000+02:00         5.459105       52.178341
6  2023-04-06 03:44:04.207000+02:00         5.459268       52.178480
7  2023-04-06 15:27:58.813000+02:00         5.459332       52.178542
8  2023-04-06 22:52:10.900000+02:00         5.459541       52.178146
9  2023-04-07 15:08:36.007000+02:00         5.459505       52.178477
10 2023-04-09 16:21:19.827000+02:00         5.459937       52.178410
11 2023-04-10 15:15:33.593000+02:00         5.459497       52.178465
12 2023-04-11 15:15:37.943000+02:00         5.459525       52.178476
13 2023-04-12 18:32:57.143000+02:00         5.459589       52.178567
14 2023-04-13 08:36:08.460000+02:00         5.376587       52.154927
15 2023-04-20 06:55:46.147000+02:00         5.376414       52.154769
16 2023-05-01 06:29:18.987000+02:00         5.376457       52.154859

                      End Timestamp  End Longitude  End Latitude
0  2023-03-28 10:22:18.600000+02:00       5.468254     52.178164
1  2023-03-30 14:13:52.800000+02:00       5.459460     52.178837
2  2023-03-30 17:11:38.237000+02:00       5.460249     52.178480
3  2023-04-03 02:01:33.967000+02:00       5.459534     52.178117
4  2023-04-04 06:08:35.200000+02:00       5.459532     52.178949
5  2023-04-05 15:44:04.130000+02:00       5.459609     52.177864
6  2023-04-06 09:44:03.787000+02:00       5.453055     52.175120
7  2023-04-06 19:13:22.010000+02:00       5.459549     52.177437
8  2023-04-07 15:06:08.967000+02:00       5.453392     52.176221
9  2023-04-07 18:50:56.687000+02:00       5.460507     52.178462
10 2023-04-10 11:29:39.310000+02:00       5.459231     52.177026
11 2023-04-10 20:21:56.933000+02:00       5.460162     52.178247
12 2023-04-12 04:23:40.967000+02:00       5.459578     52.177970
13 2023-04-12 21:53:05.953000+02:00       5.459655     52.177667
14 2023-04-20 06:52:55.507000+02:00       5.379674     52.158290
15 2023-05-01 06:26:58.420000+02:00       5.379862     52.158796
16 2023-05-01 06:29:18.987000+02:00       5.376457     52.154859

In [53]:
trips_df

,Start Timestamp,Start Longitude,Start Latitude,End Timestamp,End Longitude,End Latitude
0,2023-03-28 06:32:06.247000+02:00,5.459454,52.178471,2023-03-28 10:22:18.600000+02:00,5.468254,52.178164
1,2023-03-30 03:52:45.730000+02:00,5.459761,52.178414,2023-03-30 14:13:52.800000+02:00,5.459460,52.178837
2,2023-03-30 15:27:15.267000+02:00,5.459322,52.178647,2023-03-30 17:11:38.237000+02:00,5.460249,52.178480
3,2023-04-02 04:33:49.670000+02:00,5.458828,52.178472,2023-04-03 02:01:33.967000+02:00,5.459534,52.178117
4,2023-04-04 04:53:38.330000+02:00,5.459222,52.178485,2023-04-04 06:08:35.200000+02:00,5.459532,52.178949
5,2023-04-05 03:44:00.107000+02:00,5.459105,52.178341,2023-04-05 15:44:04.130000+02:00,5.459609,52.177864
6,2023-04-06 03:44:04.207000+02:00,5.459268,52.178480,2023-04-06 09:44:03.787000+02:00,5.453055,52.175120
7,2023-04-06 15:27:58.813000+02:00,5.459332,52.178542,2023-04-06 19:13:22.010000+02:00,5.459549,52.177437
8,2023-04-06 22:52:10.900000+02:00,5.459541,52.178146,2023-04-07 15:06:08.967000+02:00,5.453392,52.176221
9,2023-04-07 15:08:36.007000+02:00,5.459505,52.178477,2023-04-07 18:50:56.687000+02:00,5.460507,52.178462
10,2023-04-09 16:21:19.827000+02:00,5.459937,52.178410,2023-04-10 11:29:39.310000+02:00,5.459231,52.177026
11,2023-04-10 15:15:33.593000+02:00,5.459497,52.178465,2023-04-10 20:21:56.933000+02:00,5.460162,52.178247
12,2023-04-11 15:15:37.943000+02:00,5.459525,52.178476,2023-04-12 04:23:40.967000+02:00,5.459578,52.177970
13,2023-04-12 18:32:57.143000+02:00,5.459589,52.178567,2023-04-12 21:53:05.953000+02:00,5.459655,52.177667
14,2023-04-13 08:36:08.460000+02:00,5.376587,52.154927,2023-04-20 06:52:55.507000+02:00,5.379674,52.158290
15,2023-04-20 06:55:46.147000+02:00,5.376414,52.154769,2023-05-01 06:26:58.420000+02:00,5.379862,52.158796
16,2023-05-01 06:29:18.987000+02:00,5.376457,52.154859,2023-05-01 06:29:18.987000+02:00,5.376457,52.154859